@charset "ISO-8859-1";

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6c00a8;
}

li {
	margin-left: 8%;
  float: left;
}

li a {
  font-weight: bold;
  display: block;
  color: #000040;
  text-align: center;
  padding: 8px;
  margin-right: 8px;
}

li a:hover {
  background-color: #b44bef;
}

h1{
	background-color: #171717;
  	color: #ffff33;
  	text-transform: uppercase; 	
  	text-align: center;
}

a{
	text-decoration: none;
}


.center {
  text-align: center;
}

.centerMenu{
	margin-left: 25%;
	
}

.buttons{
	margin-top: 15px;
}

a:link, a:visited {
  background-color: #6c00a8;
  color: #ffff33;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a:hover, a:active {
  background-color: red;
}



