<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ejer 4</title>
<link rel="stylesheet" href="../static/index.css">
</head>
<body>
<ul>

  <li><a href="/">INICIO</a></li>
  <li><a href="/ejeruno">EJERCICIO 1</a></li>
  <li><a href="/ejerdos">EJERCICIO 2</a></li>
  <li><a href="/ejertres">EJERCICIO 3</a></li>
  <li><a href="/ejercuatro">EJERCICIO 4</a></li>

</ul>
<div class="center">
	<h1>EJERCICIO CUATRO</h1>
    <ul>
      <li><a href="/cuatroa">A</a></li>
      <li><a href="/cuatrob">B</a></li>
      <li><a href="/cuatroc">C</a></li>
      <li><a href="/cuatrod">D</a></li>
      <li><a href="/cuatroe">E</a></li>
    </ul>
</div>
</body>
</html>