<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ejer 1</title>
<link rel="stylesheet" href="../static/index.css">
</head>
<body>
<ul>

  <li><a href="/">INICIO</a></li>
  <li><a href="/ejeruno">EJERCICIO 1</a></li>
  <li><a href="/ejerdos">EJERCICIO 2</a></li>
  <li><a href="/ejertres">EJERCICIO 3</a></li>
  <li><a href="/ejercuatro">EJERCICIO 4</a></li>

</ul>
<div class="center">
	<h1>EJERCICIO UNO</h1>
    <h2>UML</h2>
    <img src="../static/DIAGRAMAS_PRACTICA1-UML.jpg">
    <hr>
    <h2>BPMN</h2>
    <img src="../static/PracticaUnoBMPN.jpg">
</div>
</body>
</html>