<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ejer 3</title>
<link rel="stylesheet" href="../static/index.css">
</head>
<body>
<ul>

  <li><a href="/">INICIO</a></li>
  <li><a href="/ejeruno">EJERCICIO 1</a></li>
  <li><a href="/ejercuatro">EJERCICIO 4</a></li>

</ul>
<div class="center">
	<h1>EJERCICIO TRES</h1>
    <p>Numero de observaciones: {{ observaciones }}<br>Valores Missing: {{ missing }}<br>Mediana: {{ mediana }}<br>Media: {{ media }}<br>Varianza: {{ varianza }}<br>Maximo: {{ max }}<br>Minimo: {{ min }}</p>
</div>
</body>
</html>