<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Liga</title>
<link rel="stylesheet" href="../static/index.css">
</head>
<body>
<ul>

  <li><a href="/">Home</a></li>
  <li><a href="tournaments.html">Tournament</a></li>
  <li><a href="teams.html">Team</a></li>
  <li><a href="/ranking">Ranking</a></li>
  <li><a href="/calendary">Calendary</a></li>
 
</ul>
<div class="center">
	<h1>liga baloncesto 3x3</h1>
	<br>
	<hr>
	<br>
	<p>Binvenidos a la pagina de la Liga de Baloncesto 3x3 de la URJC (<em>Union Regional de Jugadores de la Canasta</em>).
	<br>
	Actualmente se estan celebrando los torneos que componen la temporada 2020/2021.
	</p>
	<div class="buttons"> 
	
	<a href="/login">LOGIN</a>
	<a href="registerForm.html">REGISTER</a>
	  </form>
	</div>
</div>
</body>
</html>